node_modules/
.next/
out/
dist/
.env
.env.local
.env.production
.env.development
*.tsbuildinfo
.next.d
test-results/
playwright-report/
coverage/
data/
.DS_Store
._*
*.log
.vercel

# scraped website content
/DataURI/
/_DataURI/
/docs/
/scripts/
/ad.doubleclick.net/
/adservice.google.com/
/avatar.canva.com/
/cdn.metadata.io/
/cdnjs.cloudflare.com/
/chunk-composing.canva.com/
/content-management-files.canva.com/
/ct.canva.com/
/googleads.g.doubleclick.net/
/o13855.ingest.sentry.io/
/px.ads.linkedin.com/
/static.canva.com/
/www.canva.com/
/www.google.co.za/
/www.google.com/
